.pos{
    position:absolute;
    background-color: rgb(248, 245, 245);
    /* background-image: "url(/backgr.jpg)" ; */
    top:0; 
    left:0;
    right:0;
    bottom:0;
    margin-left: 500px;
    margin-right: 700px; 
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    border-radius: 9%;
}

 .text{
    margin-top:50px;
 }
 .text1,.text2,.text3,.text4{
    margin-top:60px;
 }
 .pos1{
    font-size:15px;
    font-family: 'Times New Roman', Times, serif;
    
}
.pos2{
   border-radius: 20%;
}