.red{
  position: relative;
   margin-top: 150px;
   margin-left: 450px;
}
.loc{
  position: relative;
   margin-top: -100px;
   margin-left: 450px;
   
}
.loc1{
  height:5%;
  width:7%;
}
.text1{
  margin-bottom:50px;
  margin-left:50px;   
  font-size:small;
}