.loc{
  position:absolute;
  height:30px;
  width:30px;
  top: 470px;
  left: 870px;
}
.call2{
   position:relative; 
  height: 30px;
  width: 30px;
  
  margin-left: 470px;
  margin-top: 220px;
  /* border-radius: 50%;
  background-color: rgb(200, 50, 50); */
}
.mail2{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 290px;
  left: 470px;
}
.wats2{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 350px;
  left: 470px;
}
.net{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 410px;
  left: 470px;
}
.t1{
  position:absolute;
  top: 220px;
  left: 520px;
  font-size: medium;
}
.t2{
  position:absolute;
  top: 295px;
  left: 520px;
  font-size: medium;
}
.t3{
  position:absolute;
  top: 350px;
  left: 520px;
  font-size: medium;
  /* font-weight: 700; */
}
.t4{
  position:absolute;
  top: 370px;
  left: 520px;
  font-size: medium;
  /* font-weight: 700; */
}
.t5{
  position:absolute;
  top: 420px;
  left: 520px;
  font-size: medium;
  /* font-weight: 700; */
}
.t{
  position:absolute;
  top: 475px;
  left: 910px;
  font-size: medium;
}


.pic{
  position: absolute;
  height:50px;
  width:70px;
  top: 260px;
  left: 590px;
  
}
.t6{
  position:absolute;
  top: 320px;
  left: 530px;
  font-size: 22px;
  
}

/* .red1{
  position:relative;
  height:350px;
  width:600px;
  top:200px;
  left: 450px;
} */
.red{
  position:absolute;
  height:350px;
  width:600px;
  top: 200px;
  left: 450px;
  
} 
