.template1_pos{
  background-color: rgb(230, 222, 219);
  /* background-image: "url(/backgr.jpg)" ; */
  top:0; 
  left:0;
  right:0;
  bottom:0;
  margin-left: 500px;
  margin-right: 700px; 
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 10px;
  text-align: center;
  padding-top: 590px;
  padding-left: 350px;
  border-radius: 9%;
  
}
.template1_logo{
  position: absolute; 
  height:100px;
  width:100px; 
  margin-left:-350px;
  top:50px;
}
.template1_pos1{
  font-size: 13px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  top:80px;
  right:500px;
  left:30px;
}
.template1_place{
  height:30px;
  width:30px;
  position:absolute; 
  top:83px;
  margin-left:-180px;
}
.template1_add{
  position: absolute;
  font-size: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  margin-left:-140px;
  margin-top: -555px;
}.template1_add1{
  position: absolute;
  font-size: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  margin-left:-140px;
  margin-top: -540px;
}
.template1_office{
  position: absolute;
height:200px;
width:350px;
margin-left:-350px;
margin-top: -500px;
}
.template1_lap{
  position: absolute;
  height:120px;
  width:110px;
  margin-left:-230px;
margin-top: -380px;
border-radius: 50%;
background-color: rgb(197, 194, 191);
}
.template1_text{
  position: absolute;
  font-size: small;
  font-weight: 200;
  margin-left:-240px;
  margin-top: -260px;
}
/* .template1_phone1{ */
  /* position:absolute;
  height:50px;
  width:50px;
  margin-left:-300px;
} */

.template_call{
  /* position: absolute; */
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  top:460px;
  right:500px;
  left:30px;
}